.container {
	float: right;
	width: 100%;
}

.container form {
	float: right;
	margin-top: -1px;
}

.dropdown {
	border-radius: 0.25rem 0 0 0.25rem;
	min-width: 6rem;
}

.dropdownItem {
	padding-left: 0.5rem;
	opacity: 0.75;
}

.dropdownItem:hover {
	opacity: 1;
}

.dropdownItem a {
	text-decoration: none;
}

.autoContainer {
	display: inline-block;
	position: relative;
	top: 2px;
}

.autoInput {
	border: none;
	padding: 7px;
	width: 25.25rem;
}

.autoInput:focus {
	outline: none;
}

.suggestionsContainer {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 0.25rem 0.25rem;
	width: 100%;
	z-index: 1;
}

.suggestionsList {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.autoContainer .suggestionsContainer {
	display: none;
}

.autoContainerOpen .suggestionsContainer {
	display: block !important;
}

.catContainer {
	white-space: nowrap;
}

.autoListItem {
	display: flex;
	justify-content: space-between;
	padding: 0.1rem 0.5rem;
}

.suggestionFocused {
	background: #E8F2FE;
}


.searchBtn {
	display: inline-block;
	border-radius: 0 0.25rem 0.25rem 0;
}
