# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/build

/src/dist
/public/sitemap.xml
/public/robots.txt
/public/main-sitemap.xml
/src/resourceDescriptors.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
\#*\#
.\#*
*~

# IDE - VSCode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.tmp

# System Files
Thumbs.db
*.swp

cdk-outputs.json
cdk.context.json
cdk.out
