{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "Makefile",
      "options": {
        "useTabs": true,
        "tabWidth": 8
      }
    }
  ]
}
