@import "../../theme";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.postContainer {
  border-bottom: 1px solid $border-color;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.postContainer:last-of-type {
  border-bottom: none;
}

.postMenuContainer, .homeMenuContainer,
.aboutMenuContainer, .workingGroupsMenuContainer,
.contactMenuContainer, .helpMenuContainer {
  background-size: cover;
  background-color: $gray-900;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1.3em;
}

.postMenuContainer {
  background-image: url('https://alliancegenome.files.wordpress.com/2019/09/bacteria-163711.jpg');
}

.aboutMenuContainer {
  background-image: url('https://alliancegenome.files.wordpress.com/2018/06/allbanners-45621.jpg');
}

.contactMenuContainer {
  background-image: url('https://alliancegenome.files.wordpress.com/2019/09/virus-4030721_1920.jpg');
}

.workingGroupsMenuContainer {
  background-image: url('https://alliancegenome.files.wordpress.com/2019/09/working-groups.jpg');
}

.helpMenuContainer {
  background-image: url('https://alliancegenome.files.wordpress.com/2019/09/cells-1872666_1920.jpg');
}

.secondaryNavEmptyRow, .postMenuContainer.secondaryNav {
  padding: 0;
  margin: 0;
  width: 100%;
}

.secondaryNavEmptyRow {
  height: 160px;
}

.secondaryNav {
  color: $primary;
  background-color: $gray-900;
  bottom: 0;
}

.floatLeft {
  background: $gray-800;
  padding: 0;
  margin-left: 0;
  margin-right: 1.2em;
  margin-bottom: 0.9em;
}
