<html>
<head>
    <meta content="utf-8" http-equiv="encoding">
    <title>Demo</title>
    <link rel="stylesheet" href="GenomeFeatureViewer.css">
</head>
<body>
<p>Basic Demo</p>
<form id="theForm">
    Genome : <input type="text" name="genome"><br>
    Start : <input type="text" name="start"><br>
    End : <input type="text" name="end"><br>
    Chr : <input type="text" name="chr"><br>
    <input type="submit" value="submit">
</form>
<div class="viewer-border">
    <h3>Overview</h3>
    <svg className="viewer" id="viewer1"/>
</div>
<br>
<div class="viewer-border">
    <h3>View 2</h3>
    <svg className="viewer" id="viewer2"/>
    <br>
</div>

<h3>Scrollable</h3>
<svg className="viewer" id="viewer3"/>

<script src="index.js"></script>
<script src="demo.js"></script>
</body>
</html>
