@import "../../theme";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.titleBar {
  color: white;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.titleBar__WB {
  background-color: #85A6BA;
}

.titleBar__SGD {
  background-color: #696599;
}

.titleBar__ZFIN {
  background-color: #018080;
}

.titleBarText {
  vertical-align: middle;
}

.titleBarEmptyRow {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 160px;
}

.sectionTitle {
  color: #2598c5;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $border-color;
}

.banner {
  background-size: cover;
}

.banner__WB {
  background-image: url('assets/topBannerWB.jpg');
}

.banner__SGD {
  background-image: url('assets/topBannerSGD.jpg');
}

.banner__ZFIN {
  background-image: url('assets/topBannerZFIN.png');
}
