@import "../../theme";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


.modFooterText {
  vertical-align: middle;
  padding-left: .5rem;
  color: white;
}

.modFooter {
  color: white;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.modFooterContainer {
  padding-left: 2.3rem;
}

.modFooter__DEFAULT {
  background-color: #2598c5;
}

.modFooter__WB {
  background-color: #85A6BA;
}

.modFooter__WB a, .modFooter__FB a, .modFooter__SGD a, .modFooter__ZFIN a, .modFooter__GO a {
  color: white;
}

.modFooter__SGD {
  background-color: #696599;
}

.modFooter__ZFIN {
  background-color: #018080;
}

.modFooter__FB {
  background-color: #003568;
  color: white;
}

a:modFooter__FB{
  color:white;
}

.modFooter__GO {
  background-color: #264370;
}

.modFooter__RGD {
  background-color: #699fc8;
}

.modFooter__MGD {
  background-color: #dfeffe;
  color: #143055 !important;
}

.titleBar {
  color: white;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.titleBarContainer {
  padding-left: 2.3rem;
}

.titleBar__DEFAULT {
  background-color: #2598c5;
}

.titleBar__WB {
  background-color: #85A6BA;
}

.titleBar__SGD {
  background-color: #696599;
}

.titleBar__ZFIN {
  background-color: #018080;
}

.titleBar__FB {
  background-color: #003568;
}

.titleBar__GO {
  background-color: #264370;
}

.titleBar__RGD {
  background-color: #699fc8;
}

.titleBar__MGD {
  background-color: #dfeffe;
  color: #143055 !important;
}

.titleBarText {
  vertical-align: middle;
  padding-left: .5rem;
}

.titleBarEmptyRow {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 160px;
}

.noPadding {
  padding: 0;
}

.sectionTitle {
  color: #2598c5;
  padding-bottom: .75rem;
  font-size: 2rem;
}

.externalNews{
  color: #2598c5;
  padding-bottom: .75rem;
  font-size: 1.25rem;
}


.section {
  padding: 2rem 2rem 1rem 2rem;
  line-height: 1.7;
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.buttonVisitMod:hover {
  opacity: .8;
}

.buttonVisitMod {
  color: white;
  width: 200px;
}

.resourceDiv p {
  margin-bottom: .7rem;
}

.h4extra {
  padding-top: 1rem;
}

.moreNews {
  padding-top: .8rem;
  padding-bottom: 1rem;
}

.containerExtra {
  margin: 1rem .25rem 0rem .25rem;
  padding-bottom: 1rem;
}

.section__WB {
  border-color: #85A6BA;
}

.section__SGD {
  border-color: #696599;
}

.section__ZFIN {
  border-color: #018080;
}

.section__FB {
  border-color: #003568;
}

.section__GO {
  border-color: #264370;
}

.section__RGD {
  border-color: #699fc8;
}

.section__MGD {
  border-color: #dfeffe;
}

.banner {
//   background-size: cover;
//   background-position: center center;
}

.banner__DEFAULT {
  background-image: url('https://alliancegenome.files.wordpress.com/2018/06/allbanners-45621.jpg');
}

.banner__WB {
  background-image: url('assets/topBannerWB.jpg');
  background-size: auto;
  background-position-x: center;
}

.banner__SGD {
  background-image: url('assets/topBannerSGD.png');
  background-size: auto;
  background-position-x: center;
}

.banner__ZFIN {
  background-image: url('assets/topBannerZFIN.png');
  background-size: cover;
  background-position: center center;
}

.banner__MGD{
  background-image: url('assets/topBannerMGD.png');
  background-size: auto;
  background-position-x: center;
}

.banner__RGD{
  background-image: url('assets/topBannerRGD.png');
  background-size: cover;
  background-position: center center;
}

.banner__FB{
  background-image: url('assets/topBannerFB.png');
  background-size: cover;
  background-position: center center;
}

.banner__GO{
  background-image: url('assets/topBannerGOC.png');
  background-size: cover;
  background-position: center center;
}

:global(.sharedaddy) {
  display: none;
}
