.loadingText {
	width: 100%;
	height: 1rem;
	background: #e2e2e2;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
}

.loadingHeader {
	height: 2rem;
}

.graphContainer {
	margin-top: 1rem;
}

.subsection {
  margin-top: 1rem;
  margin-bottom: 1rem;
  clear: left;
}

.primaryAttributesList > dt {
  text-transform: capitalize;
}

.toggleLink {
  margin-left: 0.5rem;
}

.fadeInAndOut {
    opacity: 1;
    animation: fade 1s ease-in;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
