.floatingButton {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 1030;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.hidden {
  transform: translateY(-200px);
  opacity: 0;
  pointer-events: none;
}
