.aminoAcid, .codon {
  font-family: monospace;
  font-size: 10pt;
}

.aminoAcid {
  background-color: #eee;
  margin: 0 0.5em 0 0;
}

.aminoAcid:before {
  content: " ";
  white-space: pre;
}

.aminoAcid:after {
  content: " ";
  white-space: pre;
}


.codon:nth-of-type(3n) {
  margin: 0 0.5em 0 0;
}

.table {
  td {
    border: none;
    padding: 0 1em;
  }

  td.position {
    border-right: 4px solid #eee;
    width: 100%;
    text-align: right;
    font-family: monospace;
    font-size: 10pt;
    color: #666;
    vertical-align: bottom;
  }

  .codonRow {
    td {
      padding-bottom: 0;
    }
  }

  .aminoAcidRow {
    td {
      padding-top: 0;
    }
  }
}
