.columnHeaderGroup1 {
//  background-color: lightsteelblue;
  border-bottom: solid 2px lightsteelblue !important;
}

.columnHeaderGroup2 {
//  background-color: lightpink;
  border-bottom: solid 2px lightpink !important;
}

.columnGroup1 {
  background-color: aliceblue,
}

.columnGroup2 {
  background-color: lavenderblush,
}
