.jbrowse {
  height: 200px;
  width: 100%;
}

.jbrowse img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.speciesIcon {
  background-image: url(./speciesSprite.png);
  margin: 1.25rem auto 0 auto;
  width: 82px;
  height: 91px;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .speciesIcon {
    background-image: url(./speciesSprite-2x.png);
    background-size: 82px 546px;
  }
}

.speciesIcon.Drosophila-melanogaster { /* fly */
  background-position: 0 0;
}

.speciesIcon.Rattus-norvegicus { /* rat */
  background-position: 0 -91px;
}

.speciesIcon.Mus-musculus { /* mouse */
  background-position: 0 -182px;
}

.speciesIcon.Saccharomyces-cerevisiae { /* yeast */
  background-position: 0 -273px;
}

.speciesIcon.Caenorhabditis-elegans { /* worm */
  background-position: 0 -364px;
}

.speciesIcon.Danio-rerio { /* zebrafish */
  background-position: 0 -455px;
}
