.iconContainer {
  margin-top: 1.25rem;
  text-align: center;
}

.jbrowse {
  height: 200px;
  width: 100%;
}

.jbrowse img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
