.react-bs-table table td, .react-bs-table table th {
    overflow: auto;
    white-space: normal;
    text-overflow: clip;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.table th {
  border-top: none;
}

.dropdown-item.sub-menu.active{
  background-color: #2E99C3 !important;

}
