.public_fixedDataTable_main {
  border-color: #000000;
}

.public_fixedDataTableCell_main {
  border-color: #000000;
}

.public_fixedDataTable_header{
  border-color: #000000;
}

.field_label{
  background-color: #CCC6AE;
  border-color: #000000;
  border-right: 1px;
  font-weight: bold;
  word-wrap: break-word;

  /*override fixed-data-table stylesheet*/
  height: 100%;
  width: 100%;
}
