/* the :global is css-modules syntax using by css loader */
/* global is needed to override defaults in external css of flybase data grid*/

:global(.public_fixedDataTable_main) {
  border-color: #000000;
}

:global(.public_fixedDataTableCell_main) {
  border-color: #000000;
}

:global(.public_fixedDataTable_header) {
  border-color: #000000;
}

:global(.field_label) {
  background-color: #CCC6AE;
  border-color: #000000;
  border-right: 1px;
  font-weight: bold;
  word-wrap: break-word;

  /*override fixed-data-table stylesheet*/
  height: 100%;
  width: 100%;
}
