@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.searchSection {
  background-color: hotpink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

.searchBarContainer {
  font-size: 150%;
  width: 100%;

  @include media-breakpoint-up(md) {
    font-size: 200%;
    max-width: breakpoint-min(md);
  }
}
