@import "theme";
@import "mixins";
@import "~bootstrap/scss/bootstrap";
@import "~@geneontology/ribbon/lib/main";

.react-bootstrap-table table, .table {
  margin-bottom: 0;
  table-layout: auto;

  td, th {
    white-space: normal;
    text-overflow: clip;
  }

  thead {
    text-transform: capitalize;
  }

  th {
    border-top: none;
  }
}

.react-bootstrap-table > table {
  table-layout: fixed;
}

.react-bootstrap-table {
  overflow-x: auto;
  > div {
    overflow: visible;
  }
  th {
    vertical-align: bottom !important;
  }
  @include webkit-scrollbar;
}

.form-check.disabled > .form-check-label {
  color: $text-muted;
}
input[type='checkbox'][disabled] {
  pointer-events: none;
}

.form-check-label {
  text-transform: capitalize;
}

.col-md-3 {
  text-transform: capitalize;
}

.text-transfom-none {
  text-transform: none !important;
}
