@import "theme";
@import "mixins";
@import "~bootstrap/scss/bootstrap";

.react-bs-table table, .table {
  margin-bottom: 0;

  td, th {
    white-space: normal;
    text-overflow: clip;
  }

  th {
    border-top: none;
  }
}

.react-bs-table {
  overflow-x: auto;

  thead th {
    position: sticky;
    padding: 0.3em;
    top: 0;
    z-index: 10;
    border: none;
    outline-offset: -1px;
    vertical-align: bottom !important;
  }
  @include webkit-scrollbar;
}

/**
Ribbon includes.
 */
.ontology-ribbon__header {
  display: flex;
  padding: 4px 4px;
  font-size: .8rem;
  background-color: rgb(6, 100, 100);
  color: white;
}

.go-link {
  text-decoration: none;
  color: #247BBD;
}

.go-link:visited {
  text-decoration: none;
  color: purple;
}

.link {
  text-decoration: none;
  color: #247BBD;
  display: inline;
}

.link:visited {
  text-decoration: none;
  color: purple;
  display: inline;
}

.ontology-ribbon__block-tile {
  border: 1px solid silver;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: -1px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  text-shadow: -1px 0 silver, 0 1px silver, 1px 0 silver, 0 -1px silver;
  cursor: pointer;
  line-height: 1.0em;
}

.ontology-ribbon__block {
  font-size: 0.72rem !important;
}
