@import "theme";
@import "mixins";
@import "~bootstrap/scss/bootstrap";
@import "~@geneontology/ribbon/lib/main";

.react-bs-table table, .table {
  margin-bottom: 0;

  td, th {
    white-space: normal;
    text-overflow: clip;
  }

  th {
    border-top: none;
  }
}

.react-bs-table {
  overflow-x: auto;
  > div {
    overflow: visible;
  }
  th {
    vertical-align: bottom !important;
  }
  @include webkit-scrollbar;
}

.form-check.disabled > .form-check-label {
  color: $text-muted;
}
input[type='checkbox'][disabled] {
  pointer-events: none;
}
