@import "../../theme";

.appAlert {
  margin-bottom: 0;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.socialLinks a {
  padding-left: 0.3rem;
  color: white;
  font-size: 20px;
}

.content {
  margin: auto;
}

.member_sites {
  background: #ddd;
}

.logo {
  width: 100%;
}

.socialMediaContainer {
  padding-top: 1rem;
}

.topHeader {
  padding: 1rem;
}

.topBar {
  background: $primary;
  color: #fff;

  a {
    color: #fff;
  }
}

.rightWidgets {
  text-align: right;
}

.midHeader {
  background: #fff;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 0;
  text-transform: uppercase;
}

.midHeader.nav-link {
  padding: 1em;
}

/* Site map style starts here */
.site_map {
  margin: 0;
  padding: 0;
}

.site_map .navContainer {
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.site_map .navLink {
  color: #ffffff !important;
  padding: 0.5rem;
  text-align: left;
}

.site_map .sub_nav {
  margin-left: 1.5em;
}

.site_map .sub_nav > ul {
  margin: 0;
}

.site_map .subMenuListItem {
  background: transparent;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  padding: 0.5rem;
}

.site_map .sub_nav_link {
  color: #efefef;
}

.loaderContentContainer {
  position: relative;
}

.contentContainer {
  min-height: 400px;
  padding-top: 1rem;
}

.siteMapContainer {
  background: #3E82BF;
  color: #ffffff;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}

.siteMapContainer .sectionHeader {
  border-bottom: solid 1px #eee;
  padding: 0;
}

.footerBar {
  padding: 1rem;
  background: #2F72B5;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
}

.footer p {
  margin-bottom: 0
}

.agr-logo {
  height: 60px;

}

/**Custom**/

.navbar.navbarCustom {
  height: 50px;
  border: none;
}

.navbarCustom .formSearch {
  width: 300px;
  float: left;
  display: block;
  position: absolute;
  padding-top: 7px;
  margin-left: 160px;
}

.navbarCustom .inner-addon {
  position: relative;
}

.navbarCustom .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: black;
}

.navbarCustom .left-addon .glyphicon {
  left: 0px;
}

.navbarCustom .left-addon input {
  padding-left: 30px;
}

.row.cMenu {
  margin-left: 1.1rem !important;
}

@media (max-width: 767px) {
  .navbarCustom .formSearch {
    padding-left: 15px;
    width: 70%;
    margin-left: 0;
  }

  .navbarCustom .navbar-collapse {
    background: #f5f5f5;
  }
}

.agrLogo {
  width: 13rem;
}


