.appAlert {
  margin-bottom: 0;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.socialLinks a {
  padding-left: 0.3rem;
  color: white;
  font-size: 20px;
}

.content {
  margin: auto;
}
.member_sites{background:#ddd;}
.logo {
  width: 100%;
}
.socialMediaContainer{padding-top: 1rem;}
.appContainer {
  font-family: Lato, Helvetica, sans-serif;
}

.topHeader {
  padding: 1rem;
}
.topBar {padding-top:0.4em;}
.solidBg{
  background: #2598C5;
  border-radius: 0;
}

.miniContact {
  vertical-align: middle;
  color: #fff;
}
.miniContact a:link,
.miniContact a:visited{color:#fff;}

.rightWidgets { text-align:right;}

.midHeader {
  background: #fff;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 0;
  text-transform: uppercase;
}
.midHeader.nav-link {
  padding: 1em;
}
/* Main nav style starts here */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav .navContainer {
  border-right: 1px solid #ddd;
  flex-grow: 1;
  text-align: center;
}
.nav .navContainer:first-child {
 border-left: 1px solid #ddd;
}
.nav .navLink,
.nav .sub_nav_link{
  padding: 1rem;
}
.nav .navLink,.nav .sub_nav_link {
  color: #373a3c;
}

.nav .sub_nav{
  display: none;
}
.nav .sub_nav{
  background-color: #fff;
  border:solid 1px #ddd;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  position:absolute;
  z-index:10;
  text-align: left;
  margin-left: -1px;
}
.sub_nav > ul {
  margin: 0;
}
.nav .sub_nav > ul > li {
  padding: 1rem;
}
.nav .navContainer:hover .sub_nav{
  display:block;
}
.nav .sub_nav .subMenuListItem{
  border-top:solid 1px #ddd;
}
.nav .sub_nav .subMenuListItem:first-child{
  border:0;
}
.nav .navContainer:hover .navLink,
.nav .sub_nav .subMenuListItem:hover .sub_nav_link{
  color:#2598C5;
  text-decoration:underline;
}

/* Site map style starts here */
.site_map{
  margin:0;
  padding:0;
}
.site_map .navContainer{
  border-bottom: solid 1px rgba(255,255,255,0.15);
}
.site_map .navLink {
  color: #ffffff !important;
  padding: 0.5rem;
  text-align:left;
}
.site_map .sub_nav{
  margin-left:1.5em;
}

.site_map .subMenuListItem {
  background:transparent;
  border-top: solid 1px rgba(255,255,255,0.15);
  padding: 0.5rem;
}

.site_map .sub_nav_link {
  color: #efefef;
}
.loaderContentContainer {
  position: relative;
}

.contentContainer {
  min-height: 400px;
  padding-top: 1.25rem;
}

.siteMapContainer {
  background:#3E82BF;
  color:#ffffff;
  padding-top:1.5em;
  padding-bottom:2.5em;
}
.siteMapContainer .sectionHeader {
  border-bottom:solid 1px #eee;
  padding:0;
}
.footerBar {
  width: 100%;
  padding: 1rem;
  background:#2F72B5;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
}

.footer p {
  margin-bottom: 0
}

.agr-logo {
  height: 60px;

}
/**Custom**/

.navbar.navbarCustom {
  height: 50px;
  border: none;
}

.navbarCustom .formSearch {
  width: 300px;
  float: left;
  display: block;
  position: absolute;
  padding-top: 7px;
  margin-left: 160px;
}

.navbarCustom .inner-addon {
  position: relative;
}

.navbarCustom .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: black;
}

.navbarCustom .left-addon .glyphicon {
  left: 0px;
}

.navbarCustom .left-addon input {
  padding-left: 30px;
}
.row.cMenu{
  margin-left: 1.1rem !important;
}

@media (max-width: 767px) {
  .navbarCustom .formSearch {
    padding-left: 15px;
    width: 70%;
    margin-left: 0;
  }
  .navbarCustom .navbar-collapse {
    background: #f5f5f5;
  }
}
.agrLogo {
  width: 13rem;
}


